<div class = "container">

  <h1><%= @restaurant.name %>'s dashboard</h1>
  <hr>
  <ul>
    <li> 有<%=@restaurant.comments.count%>筆評論</li>
    <li>這家餐廳平均消費 xxx</li>
    <li>有xx人收藏這家餐廳</li>
  </ul>


</div>