.mybtn{
  width:150px;
  display:inline-block;
  
}

.btngroup{
  width:310px;
  margin:0 auto;
}


.restaurant-item{
  border:1px solid #ddd;
  border-radius:5px ;
  padding:10px;
  margin-bottom:20px;
}


.restaurant-img img{
  max-width:100%;
}

.restaurant-item .caption{
  padding:10px;
  margin:5px 0;
}


.nav-pills-center{
 text-align:center;
}

.nav-pills-center > li{
  float: none;
  display:inline-block;
}

.my-avatar{
  max-width:180px;
  max-height:180px;
}

.edit_user img {
  width: 50px;
  margin: 10px;
}

.my-restaurant {
  display: inline-block;
  padding: 7px;
}

.my-restaurant > div {
  width: 80px;
  height: 80px;
}

.my-reataurant img {
  mix-height: 100%;
}

.panel .my-restaurant:hover {
   background-color: #eee;
 }

.my-button-list{
  display:inline-block;
  margin:5px;
  
}
